@{
    ViewBag.Title = "Home Page";
}

<main>
   @* <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="text-info">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>*@
   

    <div class="row">
        @Html.Partial("_Carousel")
        <section class="col-md-6" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Courses</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod rutrum est, ac accumsan justo. Fusce facilisis, tortor eget venenatis.

            </p>
            <p>
                @Html.ActionLink("Courses", "Index", "Courses", null, new { @class = "btn btn-primary" })
            </p>
        </section>
        <section class="col-md-6" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Students</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras euismod rutrum est, ac accumsan justo. Fusce facilisis, tortor eget venenatis.

            </p>
            <p>
                @Html.ActionLink("Studnets", "Index", "Students", null, new { @class = "btn btn-primary" })
            </p>
        </section>

    </div>
</main>